<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>List</title>
</head>
<body>
  <div class="container">
    <h1>Todo List</h1>
    <ul>
      {% for todo in data %}
        <li><a href="{% url 'todo_info' todo.id %}">{{ todo.title }}</a></li>
      {% endfor %}
    </ul>
  </div>
</body>
</html>