<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>sign up</title>
</head>
  <div class="container">
    <h1>회원가입</h1>
    <form method="POST" class="signup-form">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="signup-button">가입</button>
    </form>
  </div>
<body>

</body>
</html>